$T-color: #d6b161;

* {
  box-sizing: border-box;
  font-family: arial, Microsoft JhengHei, '微軟正黑體';
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
hr {
  width: 3rem;
  border: solid $T-color;
  border-width: .25rem 0 0 0; 
}

.col-3 {
  display: inline-block;
  float: left;
  width: 25%;
}

.square {
  position: relative;
  width: 13.5rem;
  height: 13.5rem;
  margin: 1rem auto;
  border: 2px dashed #222;
  border-radius: 10px;
  background-color: #eee;
  font-size: 10rem;
  transition: all .8s;
  &:hover {
    border: 4px solid $T-color;
    background-color: #222;
    .cap, .des {
      opacity: 0.8;
    }
  }
  .cap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #000;
    opacity: 0;
    transition: all 1s;
  }
  .skillName {
    position: relative;
    top: -1rem;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: #222;
  }
  .des {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem 0 0 .5rem;
    font-size: 1rem;
    line-height: 1.8rem;
    letter-spacing: 1px;
    text-align: left;
    color: #eee;
    opacity: 0;
    transition: all 1s;
    .fa-check {
      margin-right: .5rem;
    }
  }
  .html5 {
    color: #e34f26;
  }
  .css3 {
    color: #4078c0;
  }
  .github {
    color: #6e5494;
  }
  .js {
    color: #f7df1e;
  }
  .vue {
    color: #42b883;
  }
  .other {
    color: #222;
  }
}

#header {
  position: fixed;
  z-index: 100;
}
.container {
  margin: 0 auto;
  width: 90%;
}
.section {
  text-align: center;
}
.title {
  margin: 0;
  font-size: 2.6rem;
  color: #222;
  letter-spacing: .2rem;
  text-transform: uppercase;
}
.warp {
  margin: 2.5rem;
  .copyRight {
    color: #ccc;
  }
}

@media (max-width: 575.99px) {
  .col-12-mobile {
    display: inline-block;
    float: left;
    width: 100%;
  }
}