$S-color: #eee;
$T-color: #d6b161;

* {
  box-sizing: border-box;
  font-family: Spoqa Han Sans,Spoqa Han Sans JP,Noto Sans Korean,sans-serif,arial,Microsoft JhengHei,'微軟正黑體';
}
a {
  text-decoration: none;
  letter-spacing: 2px;
  transition: all .5s;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
hr {
  width: 3rem;
  border: solid $T-color;
  border-width: .25rem 0 0 0; 
}
p {
  line-height: .95rem;
  text-shadow: 0 0 0.1px rgba(0,0,0,.3);
}

.col-3 {
  display: inline-block;
  float: left;
  width: 25%;
}
.cap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.square {
  position: relative;
  width: 13.5rem;
  height: 13.5rem;
  margin: 1rem auto;
  border-radius: 10px;
  font-size: 10rem;
  transition: all .8s;
  &:hover {
    border: 4px solid $T-color;
    background-color: #222;
    .cap, .des {
      opacity: 0.8;
    }
  }
  .cap {
    border-radius: 10px;
    background-color: #000;
    opacity: 0;
    transition: all 1s;
  }
  .skillName {
    position: relative;
    top: -1rem;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: #222;
    letter-spacing: 1px;
  }
  .des {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    line-height: 1.8rem;
    letter-spacing: 1px;
    color: $S-color;
    opacity: 0;
    transition: all 1s;
    .fa-check-square {
      margin-right: .5rem;
    }
  }
  .html5 {
    color: #e34f26;
  }
  .css3 {
    color: #4078c0;
  }
  .github {
    color: #6e5494;
  }
  .js {
    color: #f7df1e;
  }
  .vue {
    color: #42b883;
  }
  .other {
    color: #222;
  }
}

.container {
  margin: 0 auto;
  width: 80%;
}
#header {
  position: fixed;
  width: 100%;
  height: 2.5rem;
  background-color: rgba(0,0,0,.6);
  z-index: 100;
  .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  .toHome {
    display: flex;
    align-items: center;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  a {
    margin-right: 1rem;
    color: $S-color;
    text-transform: capitalize;
    &:visited {
      color: $S-color;
    }
    &:hover {
      color: $T-color;
    }
  }
}
.section {
  text-align: center;
  &.about {
    position: relative;
    background-image: url("../assets/image1.jpeg");
    background-size: cover;
    background-position: 50% 54%;
    background-repeat: no-repeat;
    .cap {
      background-color: rgba(0,0,0,.6);
      z-index: 1;
    }
    .title, hr, p {
      position: relative;
      z-index: 2;
    }
    .title {
      margin-top: 3rem;
      color: $S-color;
    }
    p {
      color: $S-color;
      letter-spacing: 1px
    }
  }
}
.title {
  margin: 0;
  padding-top: 1rem;
  font-size: 2.6rem;
  color: #222;
  letter-spacing: .2rem;
  text-transform: uppercase;
}
.warp {
  margin: 2.5rem;
  .copyRight {
    color: #ccc;
  }
}
.arrow_box {
  width: 8rem;
  height: 3rem;
  position: absolute;
  top: 3rem;
  left: 26rem;
  background: rgba(0,0,0,0);
  border: 4px solid #eee;
  z-index: 2;
  &:after, &:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0,0,0,0);
    border-width: 20px;
    margin-top: -20px;
  }
  &:before {
    border-color: rgba(238, 238, 238, 0);
    border-right-color: #eee;
    border-width: 15px;
    margin-top: -15px;
  }
  p {
    margin: .3rem;
    line-height: 10px;
  }
}

@media (max-width: 779.99px) {
  .col-12-mobile {
    width: 100%;
  }
}

@media (max-width: 990px) and (min-width: 780px) {
  .container {
    width: 60%;
  }
  .col-6-m {
    width: 50%;
  }
}