$S-color: #eee;
$T-color: #d6b161;

// globl setting
* {
  box-sizing: border-box;
  font-family: Spoqa Han Sans,Spoqa Han Sans JP,Noto Sans Korean,sans-serif,arial,Microsoft JhengHei,'微軟正黑體';
}
a {
  text-decoration: none;
  letter-spacing: 2px;
  transition: all .5s;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
hr {
  width: 10vw;
  border: solid $T-color;
  border-width: .25rem 0 0 0; 
}

// custom class
.col-3, .col-4, .col-6, .col-12 {
  display: inline-block;
  float: left;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33%;
}
.col-6 {
  width: 50%
}
.col-12 {
  width: 100%;
}
.container {
  margin: 0 auto;
  width: 80%;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.cap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.square {
  position: relative;
  width: 13.5rem;
  height: 13.5rem;
  margin: 1rem auto;
  border-radius: 10px;
  font-size: 10rem;
  background-color: #fdfdff;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
  transition: all .8s;
  &:hover {
    background-color: #222;
    border: 4px solid $T-color;
    box-shadow: none;
    .cap, .des {
      opacity: 0.8;
    }
  }
  .cap {
    border-radius: 10px;
    background-color: #000;
    opacity: 0;
    transition: all 1s;
  }
  .des {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    line-height: 1.8rem;
    letter-spacing: 1px;
    color: $S-color;
    opacity: 0;
    transition: all 1s;
    .fa-check-square {
      margin-right: .5rem;
    }
  }
}
.title {
  margin: 0;
  padding-top: 1rem;
  font-size: 2.6rem;
  color: #222;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

// main
#header {
  position: fixed;
  width: 100%;
  height: 2.5rem;
  background-color: rgba(0,0,0,.6);
  z-index: 100;
  .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  .toHome {
    display: flex;
    align-items: center;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  a {
    margin-right: 1rem;
    color: $S-color;
    text-transform: capitalize;
    &:visited {
      color: $S-color;
    }
    &:hover {
      color: $T-color;
    }
  }
}
.section {
  text-align: center;
  &.cover {
    .des {
      margin-top: 5rem;
    }
    #btnGoDown {
      margin-top: 1.5rem;
      padding: .5rem .9rem;
      border: 1.5px solid #222;
      border-radius: 20px;
      background-color: transparent;
      color: #222;
      transition: all .7s;
      &:hover {
      background-color: #222;
      color: $T-color;
      }
    }
  }
  &.about {
    position: relative;
    background-image: url("../assets/image1.jpeg");
    background-size: cover;
    background-position: 50% 54%;
    background-repeat: no-repeat;
    .cap {
      background-color: rgba(0,0,0,.6);
      z-index: 1;
    }
    .title, hr, p {
      position: relative;
      z-index: 2;
    }
    .title {
      margin-top: 3rem;
      color: $S-color;
    }
    p {
      color: $S-color;
      letter-spacing: 1px
    }
  }
  &.skill {
    .skillName {
      position: relative;
      top: -1rem;
      margin: 0;
      font-size: 1.2rem;
      font-weight: 700;
      color: #222;
      letter-spacing: 1px;
    }
    .html5 {
      color: #e34f26;
    }
    .css3 {
      color: #4078c0;
    }
    .github {
      color: #6e5494;
    }
    .js {
      color: #f7df1e;
    }
    .vue {
      color: #42b883;
    }
    .node {
      color: #44883e;
    }
    .other {
      color: #222;
    }
  }
  &.experience {
    .warp {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .expCard {
      position: relative;
      min-height: 40vh;
      padding: 1rem;
      background-color: #fdfdfd;
      border-radius: 10px;
      box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
      text-shadow: 0 0 0.1px rgba(0,0,0,.3);
      .date {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 8px;
        border-top-left-radius: 10px;
        background-color: #222;
        color: $T-color;
      }
      .content {
        margin-top: 2rem;
        .employer {
          margin-bottom: .5rem;
          font-size: 22px;
          font-weight: 700;
        }
        .des {
          text-align: left;
          line-height: 1.2rem;
          letter-spacing: .5px;
          .counting {
            margin: 0 0 .5rem 0;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
          }
          .axk {
            display: inline-block;
            margin: 0 auto;
            padding: 10px 8px;
            border-radius: 20px;
            color: #fdfdfd;
            background-color: orange;
            letter-spacing: 0;
          }
        }
      }
    }
    .tree {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 70vh;
    }
  }
  &.works {
    @mixin work($url) {
      background: url($url) center top no-repeat;
      background-size: cover;
    }
    .square {
      width: 20rem;
      height: 13rem;
      &.BMI {
        @include work('../assets/BMI.PNG');
      }
      &.shopping {
        @include work('../assets/list.PNG');
      }
      &.travel {
        @include work('../assets/travle.PNG');
      }
    }
    .name {
      margin: 0;
      color: #222;
      font-size: 22px;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }
  &.contact {
    hr {
      margin-bottom: 1.5rem;
    }
    .info {
      padding: .5rem;
      width: 30%;
      margin: 0 auto;
      background-color: #fdfdff;
      border-radius: 20px;
      box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
    }
    .avater {
      width: 10rem;
      height: 10rem;
      margin: 1rem auto;
      border-radius: 50%;
      background:url('../assets/avater.png') center no-repeat;
      background-size: cover;
    }
    .socialMedia {
      display: flex;
      justify-content: center;
      width: 93%;
      margin: 1rem auto;
      padding: .2rem;
      border-radius: 20px;
      background-color: #222;
      li {
        float: left;
        margin: 0 1.8rem;
        a {
          color: $T-color;
          font-size: 1.4rem;
        }
      }
    }
    .mail {
      display: inline-block;
      width: 93%;
      margin-bottom: 1rem;
      padding: .3rem 1rem;
      border-radius: 15px;
      background-color: #222;
      a {
        color: $T-color;
        font-size: 1.2rem;
      }
    }
  }
}
@mixin round($bottom, $right, $type, $sec) {
  bottom: $bottom;
  right: $right;
  animation: $type infinite linear $sec;
}
@mixin showJob($border-color) {
  transition: all .3s;
  &:hover {
    color: $T-color;
    background-color: #222;
  }
}
.timeLine {
  position: relative;
  margin-bottom: 1rem;
  .line {
    width: .5rem;
    height: 63vh;
    margin: 0 auto;
    background-color: #222;
    animation-name: grow;
    animation-duration: 4s;
    @keyframes grow {
      from {
        height: 0vh;
      }
      to {
        height: 63vh;
      }
    }
  }
  .arrow {
    width: 0;
    height: 0;
    border-bottom: 20px solid #222;
    border-right: 13px solid transparent;
    border-left: 13px solid transparent;
  }
  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    color: #444;
    font-weight: 700;
    letter-spacing: 1px;
    &.babyBlue {
      background-color: #89cff0;
      @include round(1.5rem, 2rem, r1, 3s);
      @include showJob(#89cff0);
    }
    &.orange {
      background-color: #ffb469;
      @include round(3.5rem, -4.5rem, r3, 5s);
      @include showJob(#ffb469);
    }
    &.hotPink {
      background-color: #ff69b4;
      @include round(8rem, 2.3rem, r4, 3s);
      @include showJob(#ff69b4);
    }
    &.green {
      background-color: #42b883;
      @include round(14rem, -6rem, r3, 9s);
      @include showJob(#42b883);
    }
    &.yellow {
      background-color: #f7df1e;
      @include round(18rem, 2rem, r2, 4s);
      @include showJob(#f7df1e);
    }
    &.purple {
      background-color: #b469ff;
      @include round(21rem, -5rem, r1, 5s);
      @include showJob(#b469ff);
    }
    // bg circle
    &.bg-1 {
      background-color: #8D6E63;
      @include round(10rem, -6rem, r3, 6s);
    }
    &.bg-2 {
      background-color: #5C6BC0;
      @include round(14rem, 2.5rem, r4, 2s);
    }
    &.bg-3 {
      background-color: #EF5350;
      @include round(24rem, 3rem, r2, 5s);
    }
    &.bg-4 {
      background-color: #FFCA28;
      @include round(15rem, -2rem, r1, 3s);
    }
    &.bg-5 {
      background-color: #1976D2;
      @include round(8.5rem, -2rem, r4, 8s);
    }
    &.bg-6 {
      background-color: #00E676;
      @include round(22rem, 6rem, r3, 6s);
    }
    &.bg-7 {
      background-color: #9E9E9E;
      @include round(5rem, 7rem, r4, 6s);
    }
    &.bg-8 {
      background-color: #69F0AE;
      @include round(15rem, 7rem, r4, 10s);
    }
    &.bg-9 {
      background-color: #FF5252;
      @include round(19rem, -6rem, r2, 3s);
    }
    // size
    &.xs {
      width: 1rem;
      height: 1rem;
    }
    &.s {
      width: 1.8rem;
      height: 1.8rem;
    }
    &.m {
      width: 3.2rem;
      height: 3.2rem;
      font-size: .7rem;
    }
    &.l {
      width: 3.8rem;
      height: 3.8rem;
    }
    &.xl {
      width: 4.5rem;
      height: 4.5rem;
    }
    @keyframes r1 {
      0% {transform: rotate(0deg) translateX(5px) rotate(0deg);}
      100% {transform: rotate(360deg) translateX(5px) rotate(-360deg);}
    }
    @keyframes r2 {
      0% {transform: rotate(0deg) translateX(7.5px) rotate(0deg);}
      100% {transform: rotate(360deg) translateX(7.5px) rotate(-360deg);}
    }
    @keyframes r3 {
      0% {transform: rotate(0deg) translateX(10px) rotate(0deg);}
      100% {transform: rotate(360deg) translateX(10px) rotate(-360deg);}
    }
    @keyframes r4 {
      0% {transform: rotate(0deg) translateX(12.5px) rotate(0deg);}
      100% {transform: rotate(360deg) translateX(12.5px) rotate(-360deg);}
    }
  }
}
.arrow_box {
  width: 8rem;
  height: 3rem;
  position: absolute;
  top: 4rem;
  left: 26rem;
  background: rgba(0,0,0,0);
  border: 4px solid #eee;
  z-index: 2;
  &:after, &:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0,0,0,0);
    border-width: 20px;
    margin-top: -20px;
  }
  &:before {
    border-color: rgba(238, 238, 238, 0);
    border-right-color: #eee;
    border-width: 15px;
    margin-top: -15px;
  }
  p {
    margin: .3rem;
    line-height: 10px;
  }
}
.copyRight {
  margin: 2.5rem;
  color: #ccc;
}
@media (max-width: 779.99px) {
  .col-12-mobile {
    width: 100%;
  }
  .section {
    &.contact {
        .info {
        width: 100%;
      }
    }
  }
}

@media (max-width: 990px) and (min-width: 780px) {
  .container {
    width: 60%;
  }
  .col-6-m {
    width: 50%;
  }
}